Repository vumichien/cocoindex: changes, and which pre-commit hooks are due for each by the changed paths.
All: maturin-develop, cargo-fmt, cargo-test, mypy-check

maturin-develop:
  name: maturin develop
  entry: maturin develop
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test
  language: system
  pass_filenames: false

mypy-check:
  name: mypy type check
  entry: mypy
  language: system
  pass_filenames: false

feat(convert): enhance struct to dict binding and improve type validation for annotations
  python/cocoindex/convert.py
  python/cocoindex/typing.py
Due: maturin-develop, mypy-check

feat(vertex): support Vertex AI for generation (#739)
  Cargo.lock
  Cargo.toml
  README.md
  python/cocoindex/__init__.py
  python/cocoindex/functions.py
  python/cocoindex/llm.py
  src/llm/gemini.rs
  src/llm/mod.rs
  src/llm/vertex_ai.rs
  src/ops/functions/extract_by_llm.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

refactor(convert): reorganize struct to dict binding logic for clarity and maintainability
  python/cocoindex/convert.py
Due: maturin-develop, mypy-check

remove unnecessary whitespace for ruff check
  python/cocoindex/convert.py
Due: maturin-develop, mypy-check

feat(convert): enhance dict and struct encoding with type awareness (#727)
  python/cocoindex/convert.py
  python/cocoindex/tests/test_convert.py
  python/cocoindex/typing.py
Due: maturin-develop, mypy-check

feat(vertex): support Vertex AI for embedding (#740)
  src/llm/gemini.rs
  src/llm/mod.rs
  src/ops/functions/embed_text.rs
Due: maturin-develop, cargo-fmt, cargo-test

fix(setup): drop existing table as long as not always exists (#741)
  examples/text_embedding/main.py
  src/ops/targets/shared/table_columns.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

ops: add `/*.session.sql` to `.gitignore` (#742)
  .gitignore
Due: none

docs(vertex): add docs for Vertex AI. (#743)
  docs/docs/ai/llm.mdx
Due: none

chore: clarify comments and error messages for generic annotations (#744)
  python/cocoindex/tests/test_typing.py
  python/cocoindex/typing.py
Due: maturin-develop, mypy-check

docs: clarify data type bindings rules for *Struct* types (#745)
  docs/docs/core/data_types.mdx
Due: none

feat(azure-blob): support Azure blob store as a data source (#746)
  Cargo.lock
  Cargo.toml
  docs/docs/ops/sources.md
  examples/azure_blob_embedding/.env.example
  examples/azure_blob_embedding/.gitignore
  examples/azure_blob_embedding/README.md
  examples/azure_blob_embedding/main.py
  examples/azure_blob_embedding/pyproject.toml
  python/cocoindex/sources.py
  src/ops/registration.rs
  src/ops/sources/azure_blob.rs
  src/ops/sources/mod.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

docs(README): add Azure Blob Storage example to root README (#747)
  README.md
Due: none

build: try to remove native tls dependency to resolve release fail (#748)
  Cargo.lock
  Cargo.toml
Due: maturin-develop

fix(crypto): install a default crypto provider at process level (#749)
  src/lib_context.rs
  src/ops/targets/qdrant.rs
Due: maturin-develop, cargo-fmt, cargo-test

fix(import): import `sentence_transformers` on demand as it's too slow (#750)
  python/cocoindex/functions.py
Due: maturin-develop, mypy-check

ops: also install optional dependencies in workflow/precommit (#751)
  .github/workflows/_test.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: maturin-develop

chore: move all dev-only optional dependencies under `dev` (#752)
  .pre-commit-config.yaml
  docs/docs/about/contributing.md
  pyproject.toml
Due: maturin-develop

ops: bump dep versions for examples (#753)
  examples/amazon_s3_embedding/pyproject.toml
  examples/azure_blob_embedding/pyproject.toml
  examples/code_embedding/pyproject.toml
  examples/docs_to_knowledge_graph/pyproject.toml
  examples/gdrive_text_embedding/pyproject.toml
  examples/image_search/pyproject.toml
  examples/manuals_llm_extraction/pyproject.toml
  examples/paper_metadata/pyproject.toml
  examples/patient_intake_extraction/pyproject.toml
  examples/pdf_embedding/pyproject.toml
  examples/product_recommendation/pyproject.toml
  examples/text_embedding/pyproject.toml
  examples/text_embedding_qdrant/pyproject.toml
Due: none

fix(docs): fix typo (#754)
  docs/docs/core/flow_def.mdx
Due: none

docs: clarify Azure Blob Storage permissions on storage account level (#755)
  docs/docs/ops/sources.md
Due: none

update readme with translations and badge (#756)
  README.md
Due: none

docs: fix docs to remove redundant sentence (#757)
  docs/docs/core/data_types.mdx
Due: none

fix(annotation): make `execution_context.run()` have specific annotation (#760)
  examples/amazon_s3_embedding/main.py
  python/cocoindex/flow.py
  python/cocoindex/runtime.py
Due: maturin-develop, mypy-check

fix: clean up more unneeded `cast` (#761)
  python/cocoindex/flow.py
Due: maturin-develop, mypy-check

feat(status-updates): add `next_status_updates()` for `FlowLiveUpdater` (#759)
  python/cocoindex/flow.py
  src/execution/live_updater.rs
  src/py/mod.rs
  src/service/flows.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

fix(stats-report): trigger report for change stream stats correctly (#762)
  src/execution/live_updater.rs
Due: maturin-develop, cargo-fmt, cargo-test

fix(stats): non-existent change events should be changed as no-change (#763)
  src/execution/source_indexer.rs
Due: maturin-develop, cargo-fmt, cargo-test

chore: tighten the condition to notify status update (#764)
  examples/amazon_s3_embedding/main.py
  python/cocoindex/flow.py
  src/execution/live_updater.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

style: adjust style for inline code (no border) (#766)
  docs/src/css/custom.css
Due: none

docs: pub docs for `next_status_updates()` (#765)
  docs/docs/core/flow_methods.mdx
  python/cocoindex/__init__.py
Due: maturin-develop, mypy-check

feat(conversion): add LTable and KTable decoders for list and dict bindings
  python/cocoindex/convert.py
  python/cocoindex/tests/test_convert.py
Due: maturin-develop, mypy-check

fix(s3): properly decode special chars in filename from change event (#768)
  src/ops/sources/amazon_s3.rs
Due: maturin-develop, cargo-fmt, cargo-test

fix(ack): always ack change event unless there's processing error (#769)
  src/execution/source_indexer.rs
Due: maturin-develop, cargo-fmt, cargo-test

docs(minor-fix): fix a bunch of minor language issues in docs (#771)
  docs/docs/about/community.md
  docs/docs/about/contributing.md
  docs/docs/core/flow_def.mdx
  docs/docs/core/flow_methods.mdx
  docs/docs/getting_started/quickstart.md
  docs/docs/ops/sources.md
  docs/docs/ops/targets.md
Due: none

feat(tree-sitter-kotlin): support Kotlin in `SplitRecursively` (#772)
  Cargo.lock
  Cargo.toml
  src/ops/functions/split_recursively.rs
Due: maturin-develop, cargo-fmt, cargo-test

docs(split-recursively): explicitly document supported languages (#773)
  docs/docs/ops/functions.md
  src/ops/functions/split_recursively.rs
Due: maturin-develop, cargo-fmt, cargo-test

feat(embed-text): add `EmbedText` for Ollama (#770)
  src/llm/mod.rs
  src/llm/ollama.rs
Due: maturin-develop, cargo-fmt, cargo-test

feat(azure-auth): add more authentication for azure blob storage (#774)
  docs/docs/core/flow_def.mdx
  docs/docs/ops/sources.md
  python/cocoindex/__init__.py
  python/cocoindex/auth_registry.py
  python/cocoindex/sources.py
  src/ops/sources/azure_blob.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

fix(example): clean up zombie code (#776)
  examples/amazon_s3_embedding/main.py
Due: mypy-check

Path conditions:
  maturin-develop: any of: ^(python/|src/|Cargo\.toml|pyproject\.toml)
  cargo-fmt: any of: \.rs$
  cargo-test: any of: \.rs$
  mypy-check: any of: \.py$
