Repository vumichien/cocoindex: changes, and which pre-commit hooks are due for each by the changed paths.
All: maturin-develop, cargo-fmt, cargo-test, mypy-check

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  autoupdate_schedule: 'monthly'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
        # Check for files with names that would conflict on a case-insensitive
        # filesystem like MacOS HFS+ or Windows FAT.
      - id: check-merge-conflict
        # Check for files that contain merge conflict strings.
      - id: check-symlinks
        # Checks for symlinks which do not point to anything.
        exclude: ".*(.github.*)$"
      - id: detect-private-key
        # Checks for the existence of private keys.
      - id: end-of-file-fixer
        # Makes sure files end in a newline and only a newline.
        exclude: ".*(data.*|licenses.*|_static.*|\\.ya?ml|\\.jpe?g|\\.png|\\.svg|\\.webp)$"
      - id: trailing-whitespace
        # Trims trailing whitespace.
        exclude_types: [python]  # Covered by Ruff W291.
        exclude: ".*(data.*|licenses.*|_static.*|\\.ya?ml|\\.jpe?g|\\.png|\\.svg|\\.webp)$"

  - repo: local
    hooks:
        - id: maturin-develop
          name: maturin develop
          entry: maturin develop
          language: system
          files: ^(python/|src/|Cargo\.toml|pyproject\.toml)
          pass_filenames: false

        - id: cargo-fmt
          name: cargo fmt
          entry: cargo fmt
          language: system
          types: [rust]
          pass_filenames: false

        - id: cargo-test
          name: cargo test
          entry: cargo test
          language: system
          types: [rust]
          pass_filenames: false

        - id: mypy-check
          name: mypy type check
          entry: mypy
          language: system
          types: [python]
          pass_filenames: false

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.0
    hooks:
      - id: ruff-format
        types: [python]
        pass_filenames: true
  
  - repo: https://github.com/christophmeissner/pytest-pre-commit
    rev: 1.0.0
    hooks:
      - id: pytest
        language: system
        types: [python]
        pass_filenames: false
        always_run: false

ops: separate format check into a different workflow (#687)
  .github/workflows/CI.yml
  .github/workflows/format.yml
  examples/patient_intake_extraction/.env.example
  examples/patient_intake_extraction/README.md
  examples/patient_intake_extraction/main.py
Due: mypy-check

feat(llm): Add vLLM Support (#683)
  docs/docs/ai/llm.mdx
  python/cocoindex/llm.py
  src/llm/mod.rs
  src/llm/vllm.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

fix(union-type): properly decode Union types for non-trivial cases (#688)
  docs/docs/ai/llm.mdx
  python/cocoindex/convert.py
  python/cocoindex/tests/test_convert.py
Due: maturin-develop, mypy-check

docs(union-types): update docs for union type support (#690)
  docs/docs/core/data_types.mdx
  python/cocoindex/tests/test_convert.py
Due: maturin-develop, mypy-check

chore(types): consolidate binding supports for various basic types (#692)
  python/cocoindex/__init__.py
  python/cocoindex/tests/test_convert.py
  python/cocoindex/typing.py
  src/py/convert.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

docs(types): revise doc for cocoindex types to make it more clear (#693)
  docs/docs/core/data_types.mdx
Due: none

feat(flow-control): basic flow control for source #rows (#694)
  python/cocoindex/flow.py
  src/base/spec.rs
  src/builder/analyzer.rs
  src/builder/flow_builder.rs
  src/builder/plan.rs
  src/execution/source_indexer.rs
  src/utils/concur_control.rs
  src/utils/mod.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

cleanup: remove deprecated `@cocoindex.main_fn` (#695)
  docs/docs/core/cli.mdx
  python/cocoindex/__init__.py
  python/cocoindex/lib.py
Due: maturin-develop, mypy-check

chore: add `/.vscode` to `.gitignore` (#697)
  .gitignore
  .vscode/settings.json
Due: none

fix(split): output transformed char offset for range (#698)
  src/ops/functions/split_recursively.rs
Due: maturin-develop, cargo-fmt, cargo-test

fix(postgres): fix INSERT statements when no value fields (#699)
  src/ops/targets/postgres.rs
Due: maturin-develop, cargo-fmt, cargo-test

chore: make CLI output more clear to avoid confusion (#700)
  python/cocoindex/cli.py
Due: maturin-develop, mypy-check

example: add a paper metadata extraction example (#701)
  README.md
  examples/paper_metadata/.env.example
  examples/paper_metadata/.gitignore
  examples/paper_metadata/README.md
  examples/paper_metadata/main.py
  examples/paper_metadata/papers/1706.03762v7.pdf
  examples/paper_metadata/papers/1810.04805v2.pdf
  examples/paper_metadata/papers/2502.06786v3.pdf
  examples/paper_metadata/papers/2502.20346v1.pdf
  examples/paper_metadata/pyproject.toml
Due: mypy-check

feat(cli): add more hints for live mode and clarify existing ones (#702)
  python/cocoindex/cli.py
Due: maturin-develop, mypy-check

chore: update dependencies for examples (#704)
  examples/amazon_s3_embedding/pyproject.toml
  examples/code_embedding/pyproject.toml
  examples/docs_to_knowledge_graph/pyproject.toml
  examples/fastapi_server_docker/requirements.txt
  examples/gdrive_text_embedding/pyproject.toml
  examples/image_search/pyproject.toml
  examples/image_search/requirements.txt
  examples/manuals_llm_extraction/pyproject.toml
  examples/paper_metadata/pyproject.toml
  examples/patient_intake_extraction/pyproject.toml
  examples/pdf_embedding/pyproject.toml
  examples/product_recommendation/pyproject.toml
  examples/text_embedding/pyproject.toml
  examples/text_embedding_qdrant/pyproject.toml
Due: none

example(paper-metadata): also export the `num_pages` field (#705)
  examples/paper_metadata/main.py
Due: mypy-check

feat: support image input to LLM clients (#653)
  Cargo.lock
  Cargo.toml
  examples/image_search/README.md
  examples/image_search/main.py
  src/llm/anthropic.rs
  src/llm/gemini.rs
  src/llm/mod.rs
  src/llm/ollama.rs
  src/llm/openai.rs
  src/ops/functions/extract_by_llm.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

feat(flow-control): support source max inflight count in global setting (#706)
  docs/docs/core/flow_def.mdx
  docs/docs/core/settings.mdx
  python/cocoindex/setting.py
  src/builder/analyzer.rs
  src/builder/flow_builder.rs
  src/lib_context.rs
  src/settings.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

refactor(naming): `max_inflight_rows` instead of `max_inflight_count` (#707)
  docs/docs/core/flow_def.mdx
  docs/docs/core/settings.mdx
  python/cocoindex/flow.py
  python/cocoindex/setting.py
  src/base/spec.rs
  src/builder/analyzer.rs
  src/settings.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

feat(estimated-size): add method to compute estimated size for value (#708)
  src/base/value.rs
Due: maturin-develop, cargo-fmt, cargo-test

feat(flow-control): add bytes-based flow control for source (#709)
  docs/docs/core/flow_def.mdx
  docs/docs/core/settings.mdx
  python/cocoindex/flow.py
  python/cocoindex/setting.py
  src/base/spec.rs
  src/base/value.rs
  src/builder/analyzer.rs
  src/builder/plan.rs
  src/execution/live_updater.rs
  src/execution/source_indexer.rs
  src/prelude.rs
  src/settings.rs
  src/utils/concur_control.rs
  src/utils/mod.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

feat(flow-control): do flow control during evaluation too (#710)
  src/execution/dumper.rs
  src/execution/evaluator.rs
  src/execution/source_indexer.rs
Due: maturin-develop, cargo-fmt, cargo-test

test(convert): cover roundtrip validation for all data types (#703)
  python/cocoindex/convert.py
  python/cocoindex/tests/test_convert.py
  python/cocoindex/typing.py
Due: maturin-develop, mypy-check

feat(flow-control): support flow control for "for each" operations (#712)
  docs/docs/core/flow_def.mdx
  python/cocoindex/flow.py
  src/base/spec.rs
  src/base/value.rs
  src/builder/analyzer.rs
  src/builder/flow_builder.rs
  src/builder/plan.rs
  src/execution/evaluator.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

docs(flow-control): revise the doc for flow control (#713)
  docs/docs/core/flow_def.mdx
  docs/docs/core/settings.mdx
Due: none

examples: simplify the `paper_metadata` example: inline embedding call (#714)
  examples/paper_metadata/main.py
Due: mypy-check

example(paper-metadata): rearrange code ordering to make it clearer (#715)
  examples/paper_metadata/main.py
Due: mypy-check

chore: expose `add_flow_def()` as an API under `cocoindex` module (#719)
  docs/docs/core/flow_def.mdx
  python/cocoindex/__init__.py
Due: maturin-develop, mypy-check

feat(auto-retry): preliminary support for auto retry on 429 (#721)
  src/llm/anthropic.rs
  src/llm/gemini.rs
  src/llm/ollama.rs
  src/llm/voyage.rs
  src/utils/retryable.rs
Due: maturin-develop, cargo-fmt, cargo-test

ops: upgrade dependencies for docs (#724)
  docs/yarn.lock
Due: none

feat(remove): add a remove_flow() method (#726)
  docs/docs/core/flow_def.mdx
  docs/docs/core/flow_methods.mdx
  python/cocoindex/__init__.py
  python/cocoindex/flow.py
  src/lib_context.rs
  src/py/mod.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

feat(combine-update): combine `update` calls whenever safe (#729)
  docs/docs/core/flow_methods.mdx
  src/execution/source_indexer.rs
  src/service/error.rs
Due: maturin-develop, cargo-fmt, cargo-test

feat(rs): add utilities to streamline tests for flow functions (#723)
  src/ops/functions/embed_text.rs
  src/ops/functions/extract_by_llm.rs
  src/ops/functions/mod.rs
  src/ops/functions/parse_json.rs
  src/ops/functions/split_recursively.rs
  src/ops/functions/test_utils.rs
Due: maturin-develop, cargo-fmt, cargo-test

chore: upgrade Rust and dependency version (#731)
  Cargo.lock
  Cargo.toml
Due: maturin-develop

feat(convert): implement struct to dict binding with enhanced type handling
  python/cocoindex/convert.py
  python/cocoindex/tests/test_convert.py
  python/cocoindex/typing.py
Due: maturin-develop, mypy-check

feat(global-concur-control): provide a global controller (#732)
  docs/docs/core/flow_def.mdx
  docs/docs/core/settings.mdx
  python/cocoindex/setting.py
  src/base/spec.rs
  src/builder/analyzer.rs
  src/builder/plan.rs
  src/execution/source_indexer.rs
  src/lib_context.rs
  src/settings.rs
  src/utils/concur_control.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

readme updates (#730)
  README.md
Due: none

chore: clarify error message for problem of field conflict (#734)
  src/execution/evaluator.rs
Due: maturin-develop, cargo-fmt, cargo-test

fix: add the missing `?` to propagate error (#738)
  src/execution/evaluator.rs
Due: maturin-develop, cargo-fmt, cargo-test
