Repository vumichien/cocoindex: changes, and which pre-commit hooks are due for each by the changed paths.
All: maturin-develop, cargo-fmt, cargo-test, mypy-check

maturin-develop:
  name: maturin develop
  entry: maturin develop
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test
  language: system
  pass_filenames: false

mypy-check:
  name: mypy type check
  entry: mypy
  language: system
  pass_filenames: false

refactor(llm): rename to `LlmClient` and pass `model` in request (#642)
  src/llm/anthropic.rs
  src/llm/gemini.rs
  src/llm/litellm.rs
  src/llm/mod.rs
  src/llm/ollama.rs
  src/llm/openai.rs
  src/llm/openrouter.rs
  src/ops/functions/extract_by_llm.rs
Due: maturin-develop, cargo-fmt, cargo-test

fix(py-sdk): fix type annotations (#644)
  examples/text_embedding/main.py
  python/cocoindex/flow.py
Due: maturin-develop, mypy-check

feat(embed-text): add `EmbedText` for OpenAI and Gemini (#645)
  examples/text_embedding/main.py
  python/cocoindex/functions.py
  src/llm/anthropic.rs
  src/llm/gemini.rs
  src/llm/mod.rs
  src/llm/ollama.rs
  src/llm/openai.rs
  src/ops/functions/embed_text.rs
  src/ops/functions/extract_by_llm.rs
  src/ops/functions/mod.rs
  src/ops/registration.rs
  src/ops/sdk.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

fix: check reqwest response status code is 200 (#646)
  src/llm/anthropic.rs
  src/llm/ollama.rs
Due: maturin-develop, cargo-fmt, cargo-test

fix: only pass down `output_dimension` when not default (#647)
  src/llm/mod.rs
  src/llm/openai.rs
  src/ops/functions/embed_text.rs
Due: maturin-develop, cargo-fmt, cargo-test

feat(text-embed): add support for Voyage embedding model (#648)
  examples/code_embedding/main.py
  python/cocoindex/flow.py
  python/cocoindex/llm.py
  src/llm/gemini.rs
  src/llm/mod.rs
  src/llm/openai.rs
  src/llm/voyage.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

feat: python type binding convertibility for basic types (#649)
  python/cocoindex/convert.py
  python/cocoindex/tests/test_convert.py
  python/cocoindex/tests/test_typing.py
  python/cocoindex/typing.py
Due: maturin-develop, mypy-check

docs(llm): add docs for text embedding. (#650)
  docs/docs/ai/llm.mdx
  docs/docs/ops/functions.md
  docs/sidebars.ts
  examples/code_embedding/main.py
  examples/text_embedding/main.py
Due: mypy-check

docs(litellm): revise to use examples not covered by other supported APIs (#651)
  docs/docs/ai/llm.mdx
Due: none

refactor: optimize update_source_tracking_ordinal_and_logic by removing process_logic_fingerprint and enhancing content hash optimization logic in update_source_row
  src/execution/db_tracking.rs
  src/execution/row_indexer.rs
Due: maturin-develop, cargo-fmt, cargo-test

fix: fix a minor lint error (#655)
  python/cocoindex/cli.py
Due: maturin-develop, mypy-check

refactor: make executor build logic async (#660)
  src/builder/analyzed_flow.rs
  src/builder/analyzer.rs
  src/builder/flow_builder.rs
  src/ops/factory_bases.rs
  src/ops/functions/embed_text.rs
  src/ops/functions/extract_by_llm.rs
  src/ops/functions/parse_json.rs
  src/ops/functions/split_recursively.rs
  src/ops/interface.rs
  src/ops/py_factory.rs
  src/ops/registration.rs
  src/ops/sources/amazon_s3.rs
  src/ops/sources/google_drive.rs
  src/ops/sources/local_file.rs
  src/ops/targets/kuzu.rs
  src/ops/targets/neo4j.rs
  src/ops/targets/postgres.rs
  src/ops/targets/qdrant.rs
  src/setup/driver.rs
Due: maturin-develop, cargo-fmt, cargo-test

fix: execute local future correctly (#661)
  docs/docs/ai/llm.mdx
  docs/docs/ops/functions.md
  docs/sidebars.ts
  src/builder/flow_builder.rs
Due: maturin-develop, cargo-fmt, cargo-test

update EvaluationMemory initialization and streamline content hash handling in update_source_row for improved efficiency
  src/execution/memoization.rs
  src/execution/row_indexer.rs
Due: maturin-develop, cargo-fmt, cargo-test

remove test suite for content hash functionality in test_content_hash.py to streamline test coverage
  python/cocoindex/tests/test_content_hash.py
  src/execution/row_indexer.rs
  src/execution/source_indexer.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

simplify update_source_tracking_ordinal_and_logic by removing unnecessary parameters and enhance EvaluationMemory initialization for better clarity and performance
  src/execution/db_tracking.rs
  src/execution/memoization.rs
  src/execution/row_indexer.rs
Due: maturin-develop, cargo-fmt, cargo-test

Migrated custom UUID conversion logic to pyo3.uuid package (#663)
  Cargo.lock
  Cargo.toml
  python/cocoindex/convert.py
  python/cocoindex/tests/test_convert.py
  src/py/convert.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

rename update_source_tracking_ordinal_and_logic to update_source_tracking_ordinal and streamline memoization info handling in update_source_row for improved clarity
  src/execution/db_tracking.rs
  src/execution/row_indexer.rs
Due: maturin-develop, cargo-fmt, cargo-test

refactor memoization info handling
  src/execution/row_indexer.rs
Due: maturin-develop, cargo-fmt, cargo-test

feat: add content hash support for change detection in source processing (#629)
  src/execution/db_tracking.rs
  src/execution/db_tracking_setup.rs
  src/execution/memoization.rs
  src/execution/row_indexer.rs
  src/execution/source_indexer.rs
Due: maturin-develop, cargo-fmt, cargo-test

feat(cli): add auto-reload for server command (#664)
  pyproject.toml
  python/cocoindex/cli.py
Due: maturin-develop, mypy-check

refactor: extract setup-related states into `FlowSetupExecutionContext`. (#666)
  src/base/schema.rs
  src/builder/analyzed_flow.rs
  src/builder/analyzer.rs
  src/builder/exec_ctx.rs
  src/builder/flow_builder.rs
  src/builder/mod.rs
  src/builder/plan.rs
  src/execution/dumper.rs
  src/execution/evaluator.rs
  src/execution/indexing_status.rs
  src/execution/live_updater.rs
  src/execution/row_indexer.rs
  src/execution/source_indexer.rs
  src/lib_context.rs
  src/prelude.rs
  src/py/mod.rs
  src/service/flows.rs
  src/setup/driver.rs
Due: maturin-develop, cargo-fmt, cargo-test

ops: enforce Rust format check in CI (#667)
  .github/workflows/CI.yml
  src/py/convert.rs
Due: maturin-develop, cargo-fmt, cargo-test

feat(split): add line/column to output of SplitRecursively (#668)
  docs/docs/ops/functions.md
  src/ops/functions/split_recursively.rs
Due: maturin-develop, cargo-fmt, cargo-test

docs(style): clean up style for data/spec field types (#669)
  docs/docs/ops/functions.md
  docs/docs/ops/sources.md
  docs/docs/ops/targets.md
Due: none

fix(postgres): double quote field names to avoid keyword colission (#671)
  src/ops/targets/postgres.rs
Due: maturin-develop, cargo-fmt, cargo-test

fix(setup): restore check for setup up-to-date before evaluation (#672)
  examples/code_embedding/main.py
  src/execution/live_updater.rs
  src/lib_context.rs
  src/py/mod.rs
  src/service/flows.rs
  src/setup/driver.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

example(code): collect `start` and `end` (#673)
  examples/code_embedding/main.py
  examples/code_embedding/pyproject.toml
Due: mypy-check

Make sentence_transformers an optional dependency (#674)
  docs/docs/getting_started/quickstart.md
  docs/docs/ops/functions.md
  examples/amazon_s3_embedding/pyproject.toml
  examples/code_embedding/pyproject.toml
  examples/fastapi_server_docker/requirements.txt
  examples/gdrive_text_embedding/pyproject.toml
  examples/pdf_embedding/pyproject.toml
  examples/text_embedding/pyproject.toml
  examples/text_embedding_qdrant/README.md
  examples/text_embedding_qdrant/pyproject.toml
  pyproject.toml
  python/cocoindex/functions.py
Due: maturin-develop, mypy-check

fix(ci): add numpy to dependencies and pass typing checks (#676)
  pyproject.toml
  python/cocoindex/functions.py
Due: maturin-develop, mypy-check

feat(setup): provide internal logic for in-place setup (#677)
  python/cocoindex/cli.py
  python/cocoindex/setup.py
  src/builder/flow_builder.rs
  src/execution/live_updater.rs
  src/lib_context.rs
  src/py/mod.rs
  src/setup/db_metadata.rs
  src/setup/driver.rs
  src/setup/states.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

feat(setup): provide API / CLI options to apply setup in-process (#678)
  pyproject.toml
  python/cocoindex/cli.py
  python/cocoindex/flow.py
  python/cocoindex/setup.py
  src/py/mod.rs
  src/setup/driver.rs
  src/setup/states.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

feat(setup-api): update and officially expose setup API (#681)
  docs/docs/core/basics.md
  docs/docs/core/flow_def.mdx
  docs/docs/core/flow_methods.mdx
  docs/docs/getting_started/quickstart.md
  python/cocoindex/__init__.py
  python/cocoindex/cli.py
  python/cocoindex/flow.py
  python/cocoindex/setup.py
Due: maturin-develop, mypy-check

feat(duration): support fractional values in ISO8601 parsing (#679)
  src/base/duration.rs
Due: maturin-develop, cargo-fmt, cargo-test

feat: add `transform` method to `FlowBuilder` (#675)
  python/cocoindex/flow.py
  python/cocoindex/op.py
Due: maturin-develop, mypy-check

example: update examples to adopt setup API (#682)
  examples/amazon_s3_embedding/README.md
  examples/amazon_s3_embedding/main.py
  examples/amazon_s3_embedding/pyproject.toml
  examples/image_search/README.md
  examples/image_search/main.py
  examples/image_search/pyproject.toml
Due: mypy-check

fix(indexer): remove deleted source entry from map (#684)
  src/execution/source_indexer.rs
Due: maturin-develop, cargo-fmt, cargo-test

fix(stats): make stats more interpretable (#685)
  src/execution/live_updater.rs
  src/execution/stats.rs
Due: maturin-develop, cargo-fmt, cargo-test

fix: fully clear in-memory states for deleted source entry (#686)
  examples/text_embedding/main.py
  src/execution/source_indexer.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

patient intake structured extraction example (#680)
  examples/patient_intake_extraction/.env.example
  examples/patient_intake_extraction/README.md
  examples/patient_intake_extraction/data/README.md
  examples/patient_intake_extraction/data/patient_forms/Patient_Intake_Form_David_Artificial.docx
  examples/patient_intake_extraction/data/patient_forms/Patient_Intake_Form_Emily_Artificial.pdf
  examples/patient_intake_extraction/data/patient_forms/Patient_Intake_Form_Joe_Artificial.pdf
  examples/patient_intake_extraction/data/patient_forms/Patient_Intake_From_Jane_Artificial.docx
  examples/patient_intake_extraction/main.py
  examples/patient_intake_extraction/pyproject.toml
Due: mypy-check

Path conditions:
  maturin-develop: any of: ^(python/|src/|Cargo\.toml|pyproject\.toml)
  cargo-fmt: any of: \.rs$
  cargo-test: any of: \.rs$
  mypy-check: any of: \.py$
