Repository vumichien/cocoindex: changes, and which pre-commit hooks are due for each by the changed paths.
All: maturin-develop, cargo-fmt, cargo-test, mypy-check

maturin-develop:
  name: maturin develop
  entry: maturin develop
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test
  language: system
  pass_filenames: false

mypy-check:
  name: mypy type check
  entry: mypy
  language: system
  pass_filenames: false

fix(live-updater): report top-level error for live updater (#775)
  src/execution/live_updater.rs
Due: maturin-develop, cargo-fmt, cargo-test

style: adjust publicity for python binding mod (#777)
  src/py/mod.rs
Due: maturin-develop, cargo-fmt, cargo-test

example: add the example of face recognition (#780)
  README.md
  examples/face_recognition/.env
  examples/face_recognition/README.md
  examples/face_recognition/images/Carter_welcomes_Reagan.jpg
  examples/face_recognition/images/Solvay_conference_1927.jpg
  examples/face_recognition/images/Steve_Jobs_and_Bill_Gates_(522695099).jpg
  examples/face_recognition/images/einplanck3.jpg
  examples/face_recognition/main.py
  examples/face_recognition/pyproject.toml
Due: mypy-check

docs: minor fix for representation of vector type dimension (#782)
  docs/docs/core/data_types.mdx
Due: none

feat(attr): expose Python API to configure arg relation attributes (#784)
  python/cocoindex/__init__.py
  python/cocoindex/functions.py
  python/cocoindex/op.py
Due: maturin-develop, mypy-check

enforce strict decoding rules for LTable and KTable
  python/cocoindex/convert.py
Due: maturin-develop, mypy-check

feat(conversion): add LTable and KTable decoders for list and dict bindings (#767)
  python/cocoindex/convert.py
  python/cocoindex/tests/test_convert.py
Due: maturin-develop, mypy-check

refactor: rename `related_arg_attr` to `arg_relationship` for clarify (#786)
  python/cocoindex/functions.py
  python/cocoindex/op.py
Due: maturin-develop, mypy-check

docs: add documents for `related_arg_attr` (#787)
  docs/docs/core/custom_function.mdx
  python/cocoindex/functions.py
  python/cocoindex/op.py
  src/base/field_attrs.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

example: annotated related arg for `extract_faces()` (#785)
  examples/face_recognition/main.py
  examples/face_recognition/pyproject.toml
Due: mypy-check

docs: clarify type requirement for vectors for Postgres and Qdrant. (#789)
  docs/docs/ops/targets.md
Due: none

docs: simplify data types docs - general typed annotation always allowed (#790)
  docs/docs/core/data_types.mdx
Due: none

refactor(setup): allow notes added into setup message (#793)
  src/execution/db_tracking_setup.rs
  src/ops/targets/kuzu.rs
  src/ops/targets/neo4j.rs
  src/ops/targets/postgres.rs
  src/ops/targets/qdrant.rs
  src/ops/targets/shared/table_columns.rs
  src/setup/components.rs
  src/setup/db_metadata.rs
  src/setup/driver.rs
  src/setup/states.rs
Due: maturin-develop, cargo-fmt, cargo-test

Path conditions:
  maturin-develop: any of: ^(python/|src/|Cargo\.toml|pyproject\.toml)
  cargo-fmt: any of: \.rs$
  cargo-test: any of: \.rs$
  mypy-check: any of: \.py$
